.nav{
  background: #e9ecef;
}

.cart{
  position: relative;
  background: url('../../assets/cart1.png');
  height: 20px;
  width: 20px;
}

.cart:hover {
  position: relative;
  background: url('../../assets/cart.png');
  height: 20px;
  width: 20px;
}

.logout{
  position: relative;
  background: url('../../assets/logout1.png');
  height: 20px;
  width: 20px;
}

.logout:hover {
  position: relative;
  background: url('../../assets/logout.png');
  height: 20px;
  width: 20px;
}
